*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #0F0F10;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 4%;
    gap: 150px;
}

/* Top Left */
.top-left{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 30%;
    gap: 50px;
}

.main-image{
    position: relative;
    height: 500px;
    width: 80%;
}

.main-image img{
    position: absolute;
    top: -140px;
    height: 100%;
    width: auto;
}

/* Top Right */
.top-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    width: 50%;
}

/* Navigation Menu */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-right: 5%; */
    gap: 30px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-weight: 700px;
    padding: 5px 10px;
}

nav ul li a:hover{
    background-color: white;
    color: #0F0F10;
    border-radius: 5px;
}

.shop-btn{
    padding-right: 5%;
}

.shop-btn button{
    padding: 10px 40px;
    font-weight: 0;
    border-radius: 6px;
    background-color: #262629;
    cursor: pointer;
}

/* On Ear Section */
.on-ear{
    display: flex;
    flex-direction: column;
}

.on-ear-image{
    padding-left: 40px;
}

.on-ear-image img{
    width: 80%;
    height: auto;
}

.beats3{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.beats3 h1{
    font-size: 45px;
    font-weight: 700;
}

.beats3 .p1{
    font-size: 17px;
    font-weight: 500;
}

.beats3 .p2{
    font-size: 12px;
    line-height: 2.5;
    opacity: 0.8;
}

/* Add To bag Button */
.add-to-bag{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 20px;
    background-color: #262629;
    border-radius: 7px ;
    border: none;
    gap: 20px;
    cursor: pointer;
}

.add-to-bag:active{
    transform: scale(0.9);
}

img[alt="shoppingBag"]{
    height: 18px;
    width: 18px;
}
.add-to-bag .p1{
    font-size: 13px;
}

.add-to-bag .p2{
    font-size: 17px;
}

/* Main */
main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 0 5%;
}

/* Links Section */

.social-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* gap: 180px; */
}

img[alt="apple"]{
    height: 28px;
    width: 80px;
}
img[alt="spotify"]{
    height: 24px;
    width: 80px;
}
img[alt="amazon"]{
    height: 24px;
    width: 80px;
}
img[alt="youtube"]{
    height: 18px;
    width: 80px;
}

/* specs Section */
.specs-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.specs-img img{
    height: auto;
    width: 156px;
}

/* specs content */
.specs-content{
    display: flex;
    align-items: center;
    gap: 100px;
}

.specs-left-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

/* Bluetooth */
.bluetooth{
    margin-left: 30px;
}
.bluetooth img{
    height: 19px;
    width: 13px;
    margin-bottom: 6px;
}

.bluetooth h1{
    font-size: 12px;
    margin-bottom: 8px;
}

.bluetooth p{
    font-size: 10px;
    opacity: 0.6;
}

/* Battery */
.battery img{
    height: 20px;
    width: 20px;
    margin-bottom: 6px;
}

.battery h1{
    font-size: 12px;
    margin-bottom: 8px;
}

.battery p{
    font-size: 10px;
    opacity: 0.6;
}

/* Charger */
.load img{
    width: 10.5px;
    height: 17px;
    margin-bottom: 6px;
}

.load h1{
    font-size: 12px;
    margin-bottom: 8px;
}

.load p{
    font-size: 10px;
    opacity: 0.6;
}

/* Microphone */
.mic{
    margin-left: 30px;
}
.mic img{
    height: 20px;
    width: 13px;
    margin-bottom: 6px;
}

.mic h1{
    font-size: 12px;
    margin-bottom: 8px;
}

.mic p{
    font-size: 10px;
    opacity: 0.6;
    line-height: 1.8;
}

/* Specs right img */
.specs-right-image img{
    height: 290px;
    width: 240px;
}

/* Case Section */
.case{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.case-logo-img img{
    height: 45px;
    width: 156px;

}

.case-content{
    display: flex;
    align-items: center;
    gap: 60px
}

.case-left-img img{
    height: 335px;
    width: 240px;
}

.case-right-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.case-right-content p{
    font-size: 12px;
    line-height: 2;
    opacity: 0.8;
}

.case-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e21;
    border: none;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.case-btn:active{
    transform: scale(0.9);
}

.case-btn img{
    height: 18.5px;
    width: 18.5px;
}

.case-btn p{
    font-size: 12px;
}

/* Buy Now Section */
.buy-now{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #181a1b;
    gap: 2%;
    padding: 3% 5%;
    width: 90%;
    border-radius: 10px;
}

.buy-now-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.buy-now-left h1{
    font-size: 18px;
}

.buy-now-left p{
    font-size: 14px;
    opacity: 0.7;
}

.buy-now-btn{
    display: flex;
    align-items: center;
    background-color:#000000;
    border: none;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.buy-now-btn:active{
    transform: scale(0.9);
}

.buy-now-btn img{
    height: 17px;
    width: 16px;
}
.buy-now-btn p{
    font-size: 12.5px;
    opacity: 1;
}

/* Style Section */
.style{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    gap: 80px;
}

.style-logo img{
    height: 95px;
    width: 240px;
}

.style-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px 6% ;
    flex-wrap: wrap;
}

.style-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    width: 140px;
    background-color: #181a1b;
    gap: 20px;
    border-radius: 8px;
}

.style-cont:hover{
    transform: scale(1.1);
}

img[alt="style-cont-img"]{
    height: 95px;
    width: 75px;
    margin-top: -40px;
}

.style-img-info{
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-evenly;
}

.style-img-info-left h1{
    font-size: 12px;
    opacity: 0.9;
}

.style-img-info-left p{
    font-size: 12px;
    opacity: 0.6;
}

.shop-bag-btn{
    background-color: black;
    border: none;
    padding: 1px 5px;
    border-radius: 3px;
}
.shop-bag-btn img{
    height: 13px;
    width: 13px;
}
.shop-bag-btn img:hover{
    cursor: pointer;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-bottom: 200px;
}

img[alt="beats Logo"]{
    margin-left: 50px;
    height: 25px;
    width: 25px;
}
/* Products */
.products h1{
    font-size: 12px;
    margin-bottom: 10px;
}

.products ul li{
    list-style: none;
    line-height: 1.8;
}

.products ul li a{
    text-decoration: none;
    font-size: 12px;
    opacity: 0.8;
}
.products ul li a:hover{
    opacity: 1;
}

/* Support */
.support h1{
    font-size: 12px;
    margin-bottom: 10px;
}

.support ul li{
    list-style: none;
    line-height: 1.8;
}

.support ul li a{
    text-decoration: none;
    font-size: 12px;
    opacity: 0.8;
}

.support ul li a:hover{
    opacity: 1;
}

/* Email Input section */
.input-sub{
    display: flex;
    align-items: center;
    background-color: #181a1b;
    padding: 10px 15px;
    border-radius: 7px;
    margin-bottom: 30px;
}
input{
    color: white;
    border: 1px solid #181a1b ;
    font-size: 14px;
    background-color: #181a1b;
    outline: none;
}

.subscribe{
    background-color: black;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.subscribe:active{
    transform: scale(0.9);
}

.right-foot-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-foot-bottom img:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.up-arrow img:hover{
    cursor: pointer;
}

