*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #111827;
}

/* Header */
header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 16px;
}

.hbrger{
    padding-left: 20px;
    display: none;
}

/* Navigation menu */
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: 10px;
    padding-right: 10px;
}

nav ul li{
    list-style: none;
    font-size: 20px;
}

nav ul li a{
    padding: 8px 10px;
    border-radius: 12px;
}

nav ul li a:hover{
    background-color: #6464E0;
}

nav ul li a{
    text-decoration: none;
}

/* Upper Main Section */
.upper-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.top{
    display: flex;
    align-items: center;
    gap: 40px;
}

.top-left-sec{
    display: flex;
}

.top-left-sec img{
    height: 30px;
    width: 30px;
}

.top-left-sec h1{
    font-size: 30px;
}

.name{
    font-size: 60px;
}

.color{
    color: yellow;
    font-size: 30px;
}

.top-right-sec img{
    height: 350px;
    width: 350px;
}

/* Project Section */
.bottom-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.project{
    margin: auto;
    width:min-content;
    display: grid;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-rows:repeat(2,1fr) ;
    grid-template-columns:repeat(2,1fr) ;
}

.phead{
    margin-top: 50px;
    font-size: 40px;
    text-decoration:blue 10px underline;
    text-underline-offset: 12px;
    font-weight: 600;
}
.project figure {
    text-align: center;
}
.project figure img{
    height: 250px;
    width: 250px;
    cursor: pointer;
    opacity: 0.5;
}
figcaption{
    font-size: 20px;
}
/* Hover On Project Image */
.project figure img:hover{
    opacity:1 ;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    padding-bottom: 50px;
}

.foot ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.foot ul img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/* Hover on Contacts img */
.foot ul img:hover{
    transform: scale(1.3);
}

/* Media Query */
@media screen and (max-width: 659px) {
    
    nav{
        display: none;
    }
    .hbrger{
        justify-content: flex-start;
        display: block;
    }

    .hbrger img{
        height: 20px;
        width: 20px;
    }


    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-left-sec img{
        height: 30px;
        width: 30px;
    }
    
    .top-left-sec h1{
        font-size: 24px;
    }
    
    .name{
        font-size: 40px;
    }
    
    .color{
        color: yellow;
        font-size: 24px;
    }

    .top-right-sec img{
        height: 300px;
        width: 300px;
    }

    .phead{
        margin-top: 50px;
        font-size: 35px;
        text-decoration:blue 8px underline;
        text-underline-offset: 12px;
        font-weight: 600;
    }

    .project{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}