*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: black;
    width: 100%;
    padding: 10px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.logo img{
    height: 40px;
    width: auto;
    cursor: pointer;
}

.line{
    background-color: white;
    height: 50px;
    width: 1px;
}

.menu{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.menu ul li{
    transition: 0.2s;
}
li:hover{
    transform: scale(1.2);
}
a{
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    font-family: "Poppins";
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}


.nbtn button{
    text-align: center;
    background: #ba0cc5;
    padding: 7px 25px;
    border: 2px solid #ba0cc5;
    font-family: "Poppins";
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

button:hover{
    background-color: white;
    color:#ba0cc5;
    border: 2px solid #ba0cc5;
}

/* main */
main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content{
    max-width: 900px;
}


.content h1{
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content p{
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins";
}

.btn{
    background-color: #ba0cc5;
    border-radius: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 30px;
    padding: 14px 22px;
    border: 2px solid #ba0cc5;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

/* Media query for screens smaller than 890px */
@media only screen and (max-width: 890px){
    nav{
        gap: 20px;
    }

    .logo img{
        height: 30px;
    }
    .menu ul {
        gap: 20px;
    }
    .menu ul li a{
        font-size: 14px;
    }
    .nbtn button{
        font-size: 14px;
        padding: 6px 10px;
    }   
    .content h1{
        font-size: 4rem;
    }
    .content p{
        font-size: 25px;
    }
    .btn{
        font-size: 20px;
        padding: 15px;
    }
}



/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    /* Adjusting header padding for smaller screens */
    header {
        padding: 10px 3%;
    }

    /* Adjusting gap between navigation links for smaller screens */
    .nav-menu {
        gap: 20px;
    }

    /* Reducing main heading size for smaller screens */
    .content h1 {
        font-size: 2.5rem;
    }

    /* Reducing paragraph size for smaller screens */
    .content p {
        font-size: 1rem;
    }

    /* Reducing button size for smaller screens */
    .cta-button {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    .btn{
        font-size: 15px;
        padding: 10px;
    }
}

@media only screen and (max-width: 660px) {
    nav{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .menu{
        flex-grow: 0;
    }
}