.cart-container {
  margin: 0 5%;
  clear: both;
}

/* -------- Cart Table -------------- */
.cart-table {
  width: 75%;
  float: left;
  text-align: center;
}

.cart-details {
  margin: 50px 0;
  text-align: center;
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse; /* To merge separate borders of all cells into single line border*/
}

/* Table Head */
thead {
  background-color: #a18249;
  text-align: center;
  border: 1.5px solid #a18249;
}
th {
  padding: 15px;
}

/* Table Body  */
tbody {
  text-align: center;
}
tbody img {
  width: 60px;
  vertical-align: middle;
}
tbody td:first-child {
  text-align: left;
}
td {
  border: 1px solid #a18249;
  display: table-cell;
  padding: 15px;
  text-align: center;
}

.quantity-input {
  display: flex;
  justify-content: center;
}
.quantity-input input {
  width: 40px;
  border: 1px solid #ddd;
  text-align: center;
  outline: none;
}
.quantity-input input::-webkit-inner-spin-button,
.quantity-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.quantity-input button {
  border: 0;
  background-color: #8f7c59;
  font-size: 24px;
  width: 30px;
  border-radius: 0;
  cursor: pointer;
}
.custom-delete-button {
  padding: 5px;
  width: 30px;
  background-color: #8f7c59;
  cursor: pointer;
}

/* ---------- Checkout Section -------------- */
.checkout-box {
  width: 25%;
  float: left;
}
.cart-summary-wrapper {
  margin: 50px 0 50px 20px;
}

/* Coupon Code */
.cart-summary-wrapper .coupon-input {
  display: flex;
  height: 50px;
}
.coupon-input input {
  border: 1px solid #ddd;
  border-right: 0;
  padding-left: 20px;
  width: 60%;
  outline-color: #8f7c59;
}
.coupon-input button {
  background-color: #8f7c59;
  border: 0;
  width: 40%;
  cursor: pointer;
}

/* Cart's Sub-Total and Shipping */
.cart-sub-total-shipping {
  border: 1px solid #8f7c59;
  margin-top: 50px;
  padding: 20px;
}
.cart-sub-total-shipping div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.cart-sub-total-shipping div h6 {
  font-size: 15px;
}

/* Total and Checkout */
.total-wrapper {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 20px;
}
.total-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.total-head h4 {
  font-size: 20px;
}

.checkout button {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #8f7c59;
  border: none;
}

@media only screen and (max-width: 992px) {
  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .cart-table {
    width: 100%;
  }
  .checkout-box {
    width: 100%;
  }

  .coupon-input button {
    font-size: 18px;
  }
}

@media only screen and (max-width: 520px) {
  th {
    padding: 8px;
  }
  tbody td:first-child {
    text-align: center;
  }
  td {
    padding: 0;
  }
  .quantity-input input {
    width: 22px;
  }
  .quantity-input button {
    font-size: 19px;
    width: 22px;
  }
  .coupon-input button {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  th {
    padding: 5px;
  }
}
