.shop-header h1 {
  font-size: 4rem;
}
.login-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.login-container input {
  width: 30%;
  height: 25%;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1.2rem;
  outline-color: #8f7c59;
}
.login-container button {
  width: 30%;
  height: 25%;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #8f7c59;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Media Query */
@media only screen and (max-width: 992px) {
  .login-container {
    width: 100%;
    /* margin: 0 5%; */
  }
  .login-container input,
  .login-container button {
    width: 70%;
  }
}
