* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  margin: 0 5%;
}

.common-btn-style {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #d19c97;
  text-align: center;
  min-width: 50px;
}
/* Navigation*/
nav {
  margin-top: 25px;
  min-height: 60px;
}
/* LOGO */
.logo h1 {
  font-size: 38px;
  font-weight: 600;
}
.logo h1 span:first-of-type {
  color: #d19c97;
  border: 1px solid #ddd;
  margin-right: 5px;
  padding: 0px 17px;
}
.arrange-nav-el-left {
  float: left;
}
.logo {
  width: 25%;
}

/* Search Bar */
.search-bar {
  width: 50%;
}
#search-box {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ddd;
  color: #666;
  font-size: 18px;
  border-radius: 5px;
  border-right: none;
  outline: none;
}
.search-btn {
  height: 40px;
  margin-left: -7px;
  border: 1px solid #ddd;
  color: #d19c97;
  font-size: 18px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
}

/* Liked Products & Cart  */
.products-and-cart {
  width: 25%;
  text-align: right;
}
.products-and-cart button {
  height: 40px;
  font-size: 17px;
  text-align: center;
  margin: 0 10px;
}
.products-and-cart span {
  font-size: 17px;
  font-weight: 500;
  color: #000;
  margin-left: 5px;
}

/* -------------- Side Categories Menu and Hero Banner Section ------------- */
.full-banner-container {
  border-top: 1px solid #ddd;
}
.banner-container {
  clear: both;
  margin: 0 5%;
}

/* Category Section(Left Banner Area) */
.left-category-banner-area {
  width: 25%;
  float: left;
}
.category-menu-list-header {
  background-color: #d19c97;
  height: 65px;
}
.category-menu-list-header h4 {
  display: inline-block;
  margin: 20px 40px;
  font-weight: 600;
}
.category-menu-list-header span {
  float: right;
  padding: 20px 28px;
}
.category-menu-list {
  list-style: none;
  border: 1px solid #ddd;
}
.category-menu-list li {
  border-bottom: 1px solid #ddd;
  padding: 12px 40px;
}
.category-menu-list li a {
  text-decoration: none;
  color: #333;
}

/* Right Banner Section */
.right-banner-area {
  width: 75%;
  float: left;
}

.shop-menu {
  display: flex;
}
.left-shop-menu-list {
  width: 70%;
  display: flex;
  list-style: none;
}

.right-shop-menu-list {
  width: 30%;
  display: flex;
  list-style: none;
  direction: rtl;
}
.all-shop-lists {
  min-width: 75px;
  padding: 20px;
  /* text-align: center; */
}
/* .all-shop-lists:hover {
  background-color: black;
} */
.shop-menu a {
  color: #333;
}
.shop-menu a:hover {
  color: #d19c97;
}
.pd-dropdown-list {
  display: none;
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: #ccc 1px 1px 2px;
  z-index: 10;
  background-color: #fff;
}
.pd-dropdown a i {
  margin: 0 5px;
}
.pd-dropdown-list li {
  padding: 15px;
}
.pd-dropdown:hover ul.pd-dropdown-list {
  display: block;
}

/* Image Banner */
.banner {
  position: relative;
  height: 400px;
  float: left;
  width: 100%;
  margin-left: 10px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.banner-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #00000044;
}
.banner-content h4 {
  font-size: 28px;
  font-weight: 500;
}
.banner-content h3 {
  font-size: 50px;
}
.show-now {
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
}
