* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  margin: 0 5%;
}

.common-btn-style {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #64db60;
  text-align: center;
  min-width: 50px;
}
/* Navigation*/
nav {
  margin-top: 25px;
  min-height: 60px;
}
/* LOGO */
.logo h1 {
  font-size: 38px;
  font-weight: 600;
}
.logo h1 span:first-of-type {
  color: #64db60;
  border: 1px solid #ddd;
  margin-right: 5px;
  padding: 0px 17px;
}
.arrange-nav-el-left {
  float: left;
}
.logo {
  width: 25%;
}

/* Search Bar */
.search-bar {
  width: 50%;
}
#search-box {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ddd;
  color: #666;
  font-size: 18px;
  border-radius: 5px;
  border-right: none;
  outline: none;
}
.search-btn {
  height: 40px;
  margin-left: -7px;
  border: 1px solid #ddd;
  color: #64db60;
  font-size: 18px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
}

/* Liked Products & Cart  */
.products-and-cart {
  width: 25%;
  text-align: right;
}
.products-and-cart button {
  height: 40px;
  font-size: 17px;
  text-align: center;
  margin: 0 10px 0 0;
}
.products-and-cart span {
  font-size: 17px;
  font-weight: 500;
  color: #000;
  margin-left: 5px;
}

/* -------------- Side Categories Menu and Hero Banner Section ------------- */
.main-content-container {
  border-top: 1px solid #ddd;
}
.banner-container {
  clear: both;
  margin: 0 5%;
}

/* Category Section(Left Banner Area) */
.left-category-banner-area {
  width: 25%;
  float: left;
}
.category-menu-list-header {
  background-color: #64db60;
  height: 65px;
}
.category-menu-list-header h4 {
  display: inline-block;
  margin: 20px 40px;
  font-weight: 600;
}
.category-menu-list-header span {
  float: right;
  padding: 20px 28px;
}
.category-menu-list {
  list-style: none;
  border: 1px solid #ddd;
}
.category-menu-list li {
  border-bottom: 1px solid #ddd;
  padding: 12px 40px;
}
.category-menu-list li a {
  text-decoration: none;
  color: #333;
}
.category-menu-list li a:hover {
  color: #64db60;
}

/* Right Banner Section */
.right-banner-area {
  width: 75%;
  float: left;
}

.shop-menu {
  display: flex;
}
.left-shop-menu-list {
  width: 70%;
  display: flex;
  list-style: none;
}

.right-shop-menu-list {
  width: 30%;
  display: flex;
  list-style: none;
  direction: rtl;
}
.all-shop-lists {
  min-width: 75px;
  padding: 20px;
  /* text-align: center; */
}
/* .all-shop-lists:hover {
  background-color: black;
} */
.shop-menu a {
  color: #333;
  padding: 10px;
  /* background-color: #64db60; */
}
.shop-menu a:hover {
  color: #333;
  background-color: #64db60;
  /* border: 1px solid #64db60; */
}
.pd-dropdown-list {
  display: none;
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: #ccc 1px 1px 2px;
  z-index: 10;
  background-color: #fff;
}
.pd-dropdown a i {
  margin: 0 5px;
}
.pd-dropdown-list li {
  padding: 15px;
}
.pd-dropdown:hover ul.pd-dropdown-list {
  display: block;
}

/* Image Banner */
.banner {
  position: relative;
  height: 400px;
  float: left;
  width: 100%;
  margin-left: 10px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.banner-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #00000044;
}
.banner-content h4 {
  font-size: 28px;
  font-weight: 500;
}
.banner-content h3 {
  font-size: 50px;
}
.show-now {
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
}

/* Brand Services Row Section */
.brand-service-container {
  margin: 0 5%;
  clear: both;
}
.services-box {
  width: 22%;
  height: 80px;
  float: left;
  margin: 30px 20px;
}
.service-box-content {
  border: 1px solid #ddd;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
}
.service-box-content i {
  font-size: 30px;
  /* padding: 20px; */
  color: #64db60;
}
.service-box-content span {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 600;
}

/* --------- Main Product Categories---------- */
.main-product-categories {
  margin: 0 5%;
  clear: both;
}

.main-category-item {
  width: 33%;
  float: left;
}

.category-item-box {
  border: 1px solid #ccc;
  padding: 30px;
  margin: 25px;
}

.product-count {
  text-align: right;
  margin-bottom: 10px;
}

.p-cat-img img {
  width: 100%;
}

.p-cat-type {
  margin-top: 20px;
  font-size: 25px;
}

/* Specials Offers Banner Section */
.spl-offer-banner-container {
  margin: 0 5%;
  clear: both;
}

.spl-offer-banner-box {
  width: 50%;
  float: left;
  /* margin: 20px; */
}

.offer-banner-content {
  position: relative;
  margin: 20px;
  background-color: #edf1ff;
}

.offer-banner-content img {
  position: absolute;
  max-width: 50%;
  max-height: 90%;
  bottom: 0;
  z-index: 100;
  float: left;
}
.flip-offer-img {
  transform: scaleX(-1);
}

.offer-text {
  text-align: right;
  padding: 40px;
}
.offer-text h5 {
  color: #64db60;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
}
.offer-text h3 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 10px;
}
.offer-shop-now-btn {
  padding: 15px 30px;
  color: #64db60;
  border: 1px solid #64db60;
  background-color: transparent;
  cursor: pointer;
}

/* ----------------Products Card Section---------------- */
.products-card-container {
  margin: 0 5%;
  clear: both;
}
.products-card-box {
  float: left;
  width: 25%;
}
.product-card {
  border: 1px solid #ddd;
  margin: 20px;
}
.product-card div img {
  width: 100%;
  /* object-fit: cover; */
}
.product-card div img:hover {
  transform: scale(0.9);
}

.p-card-details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.p-card-details > h6 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.p-card-price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-card-price h6 {
  font-size: 16px;
  padding: 5px;
  font-weight: 500;
}
.p-card-price .comm-price {
  text-decoration: line-through;
  color: #666;
}

.p-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.p-card-footer a {
  color: #64db60;
  text-decoration: none;
  font-size: 14px;
}
.p-card-footer a i {
  margin: 10px;
}

/* -------------Stay Updated Section--------------- */
.stay-updated-container {
  /* margin: 0 5%; */
  clear: both;
}
.stay-updated-content {
  margin-bottom: 100px;
  background-color: #edf1ff;
  text-align: center;
  padding: 50px 32% 80px 32%;
}
.stay-updated-content p {
  line-height: 2;
  color: #666;
  padding: 20px 0;
}

.mail-input {
  display: flex;
}
.mail-input input {
  flex: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
}
.subscribe-btn {
  border: 1px solid #64db60;
  color: #000;
  background-color: #64db60;
  padding: 10px 30px;
  font-size: 16px;
}

/* -------------- Venders Banner Img Section --------------------- */
.venders-list {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin-bottom: 100px;
}
.venders-list img {
  border: 1px solid #ddd;
}

/* --------------- Footer ------------------- */
.footer-container {
  clear: both;
}
.footer-content-box {
  background-color: #edf1ff;
  /* margin-bottom: 100px; */
  padding: 50px 5.5%;
  display: flex;
}

.footer-elements-margin {
  margin-right: 5%;
}

.footer-contact {
  width: 25%;

  float: left;
}

.footer-desc {
  line-height: 1.5;
  text-align: justify;
  margin: 25px 0;
}
.footer-contact-list li {
  line-height: 2.5;
}
.footer-contact-list li i {
  color: #64db60;
  width: 25px;
}

.quick-links {
  float: left;
  width: 25%;
}
.quick-links h3 {
  margin-bottom: 20px;
}
.q-link-list {
  line-height: 2;
}
.q-link-list a span {
  color: #333;
  font-weight: 400;
  /* font-size: 13px; */
  margin: 10px;
}
.q-link-list a :hover {
  text-decoration: underline;
}

/* Footer News & Updates */
.news-update-content {
  width: 25%;
  float: left;
  text-transform: capitalize;
}
.news-update-content h3 {
  margin-bottom: 20px;
}
.footer-input {
  border: none;
  width: 80%;
  margin-bottom: 10px;
  padding-left: 10px;
  height: 40px;
  font-size: 16px;
}
.footer-btn {
  border: none;
  width: 80%;
  font-size: 18px;
  padding: 20px;
  background-color: #64db60;
}

/* Copy Right */
.copy-right {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #edf1ff;
  margin-top: 5px;
}
.copy-right div,
.copy-right img {
  padding: 10px 0;
}
