* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f1f3f6;
  color: #212121;
  /* line-height: 1.4; */
}

/* Header */

/* Nav Bar */
.nav-bar {
  background-color: #2874f0;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 50;
}

/* main logo img */
img[alt="main-logo-img"] {
  width: 85px;
}

.main-logo p {
  font-size: 11px;
  font-style: italic;
  margin-top: -1px;
  font-weight: 600;
  opacity: 0.8;
}
.main-logo span {
  color: yellow;
}

/* Search Bar */
.nav-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  background-color: #fff;
  width: 40%;
  padding: 0 10px;
  margin: 0 8px;
}

.search-input-bar {
  background-color: white;
  color: #212121;
  height: 100%;
  width: 100%;
  font-size: 0.95rem;
  border: none;
  outline: none;
}
.nav-search-bar i {
  color: #2874f0;
  font-size: 1.4rem;
  cursor: pointer;
}

/* Nav Login Button */
.nav-login-btn {
  height: 55%;
  background-color: #fff;
  font-size: 1rem;
  color: #2874f0;
  font-weight: 600;
  border: none;
  width: 7.5rem;
  margin-left: 45px;
  cursor: pointer;
}

/* Seller Button */
.nav-seller-btn {
  background-color: #2874f0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  margin-left: 45px;
  cursor: pointer;
}

/* More Button */
.nav-more {
  background-color: #2874f0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: 45px;
  cursor: pointer;
}
.nav-more i {
  font-size: 0.7rem;
}

/* Cart Button */
.nav-cart {
  background-color: #2874f0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 45px;
  cursor: pointer;
}

/* Navigation Products Menu */
.nav-products-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 115px;
  padding: 20px 100px;
  margin-bottom: 20px;
}

/* Nav Products */
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.nav-menu img {
  height: 4rem;
  margin-bottom: 8px;
}
.nav-menu p {
  font-size: 0.8rem;
  font-weight: 600;
}
.nav-menu:hover {
  color: #2874f0;
}

/* Hero Image */
.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.hero-img img {
  width: 99%;
  cursor: pointer;
  /* margin: 0 5px; */
}

/* -------------- Main ----------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 99%;
  height: 350px;
  margin: 6px 0;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.247);
}

/* ---------------------------- Electro Section Heading ------------------ */
.sec-head {
  width: 17%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.sec-head p {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  cursor: default;
}
.sec-head button {
  background-color: #2874f0;
  color: white;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

/* Electro Section Products */
.main-products {
  width: 17%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

/* Electro Section Images Hover */
.main-products:hover img {
  transform: scale(1.1);
}

/* Electro Section Images */
.main-products img[alt="camera-img"] {
  padding-bottom: 1.2rem;
}
.main-products img[alt="monitor-img"] {
  padding-top: 4rem;
  padding-bottom: 4.35rem;
}
.main-products img[alt="trimmer-img"] {
  padding-bottom: 1rem;
}
.main-products img[alt="printer-img"] {
  padding-bottom: 1.8rem;
  padding-top: 2rem;
}
.main-products img[alt="powerbank-img"] {
  padding-bottom: 1rem;
}

.main-products .p1 {
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.main-products .p2 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #388e3c;
  /* font-weight: 600; */
}
.main-products .p3 {
  font-size: 0.9rem;
  /* margin-bottom: 20px; */
  opacity: 0.6;
  /* font-weight: 600; */
}

/* -------------------------Beauty, Food, Toys Sections------------------  */
.main-products img[alt="electro-cycle-img"] {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.main-products img[alt="RM-img"] {
  padding-bottom: 2rem;
}
.main-products img[alt="softtoys-img"] {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.main-products img[alt="stationery-img"] {
  padding-bottom: 1rem;
  padding-top: 0.6rem;
}
.main-products img[alt="treadmill-img"] {
  padding-bottom: 1rem;
  padding-top: 0.6rem;
}

/* ----------------------- Gift Your Loved Ones ------------------------ */
.main-products img[alt="choco-img"] {
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.main-products img[alt="clocks-img"] {
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.main-products img[alt="deodrant-img"] {
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.main-products img[alt="headphn-img"] {
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.main-products img[alt="tablet-img"] {
  padding-bottom: 3rem;
  padding-top: 4.6rem;
}
